* {
  color: #0a497c;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.noline {
 display: inline;
 margin: 0px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 50rem;
  padding: 1rem;
  background-color: #d9d9d9;
  font-size: large;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

textarea {
  resize: none;
}
.center-div {
  display: flex;
  align-items: center; 
  gap: 10px;
}

.center-button {
  margin-top: 5px;
}

.url_input {
  width: 90%;
  border: black 1px solid;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: 50%;
  resize: none;
  height: 2rem;
}

#url_text {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 1rem;
}

#bibtex_input {
  width: 100%;
}

.tabcontent {
  animation: fadeEffect 1s;
  /* Fading effect takes 1 second */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom_button {
  margin-left: 10px
}

.hidden {
  display: none;
}

.website_submit_button {
  width: 25%;
  background-color: #d9d9d9;
  border: black 1px solid;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

button {
  width: 25%;
  background-color: #d9d9d9;
  border: black 1px solid;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}

.row2 {
  display: flex;
  align-content: center;
}

li {
  font-size: medium;
  margin-top: 1rem;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-left: 1rem;
}

h2 {
  margin-bottom: 1rem;
}
